.register {

    height: 100vh;
    background-color: #FBF4DE;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        overflow: hidden;
        width: 50%;
        min-height: 600px;
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        .left {

            flex: 1;
            background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url('https://images.unsplash.com/photo-1536500152107-01ab1422f932?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1 {
                font-size: 100px;
                line-height: 100px;
            }

            // p {}

            span {
                font-size: 14px;
            }

            button {
                width: 50%;
                padding: 10px;
                border: none;
                color: #F9575C;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .right {

            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h2 {
                color: #555;
            }

            form {

                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #F9575C;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

    }

}